{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-dark navbar-primary">
    <div class="container">
        <a href="#" class="navbar-brand">
            <img src="{% static 'img/logo.png' %}" alt="AdminLTE Logo"
                 class="brand-image"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Hades</span>
        </a>
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'erp:dashboard' %}" class="nav-link"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link dropdown-toggle"><i class="fas fa-folder-open"></i> Mantenimientos</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'erp:dashboard' %}" class="dropdown-item"><i class="fas fa-chart-line"></i> Menú Principal</a></li>
                        <li><a href="{% url 'erp:abono_list' %}" class="dropdown-item"><i class="fas fa-server"></i> Abonos</a></li>
                        <li><a href="{% url 'erp:client_list' %}" class="dropdown-item"><i class="fas fa-users"></i> Clientes</a></li>
                        <li><a href="{% url 'erp:tecnic_list' %}" class="dropdown-item"><i class="fas fa-tools"></i> Técnicos</a></li>
                        <li><a href="{% url 'erp:category_list' %}" class="dropdown-item"><i class="fas fa-clipboard-list"></i> Categorías</a></li>
                        <li><a href="{% url 'erp:product_list' %}" class="dropdown-item"><i class="fas fa-boxes"></i> Productos</a></li>
                        <li><a href="{% url 'erp:zone_list' %}" class="dropdown-item"><i class="fas fa-list-ol"></i> Zonas</a></li>
                        <li><a href="{% url 'erp:invoice_list' %}" class="dropdown-item"><i class="fas fa-file-invoice-dollar"></i> Facturas</a></li>
                        <li><a href="{% url 'erp:sale_list' %}" class="dropdown-item"><i class="fas fa-shopping-cart"></i> Ventas</a></li>
                        <li><a href="{% url 'sale_report' %}" class="dropdown-item"><i class="fas fa-file-invoice-dollar"></i> Reportes</a></li>
                        <li><a href="{% url 'erp:client_saldos' %}" class="dropdown-item"><i class="fas fa-money-bill-alt"></i> Listado de Saldos</a></li>
                        <li><a href="{% url 'erp:pay_list' %}" class="dropdown-item"><i class="fas fa-money-bill-alt"></i> Planilla de Cobranzas</a></li>
                        <li><a href="{% url 'erp:jobTecnic_create' %}" class="dropdown-item"><i class="fas fa-briefcase"></i> Trabajo Diario</a></li>
                        <li><a href="{% url 'erp:jobTecnic_list' %}" class="dropdown-item"><i class="fas fa-folder-open"></i> Historial de zonas</a></li>
                        <li><a href="{% url 'erp:jobTecnicMonthPlanning_list' %}" class="dropdown-item"><i class="fas fa-calendar-check"></i> Planificación de zonas</a></li>
                        <li><a href="{% url 'erp:equipRemove_list' %}" class="dropdown-item"><i class="fas fa-ban"></i> Listado de Retiros</a></li>
                        <li><a href="{% url 'erp:equipRemove_list' %}" class="dropdown-item"><i class="fas fa-clock"></i> Listado de Suspendidos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            {% if request.user.groups.all %}
                <li class="nav-item dropdown">
                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   class="nav-link {% if request.user.groups.all.count > 1 %} dropdown-toggle{% endif %}">{{ request.session.group }}</a>
                {% if request.user.groups.all.count > 1 %}
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow"
                        style="left: 0px; right: inherit;">
                        {% for g in request.user.groups.all %}
                            {% if g.id != request.session.group.id %}
                                <li><a href="{% url 'user:user_change_group' g.id %}"
                                       class="dropdown-item">{{ g.name }} </a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fas fa-users-cog"></i> {{ request.user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-header">
                        Último Acceso: 12 de Abril de 2020
                    </span>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'user:user_profile' %}" class="dropdown-item">
                        <i class="fas fa-edit mr-2"></i> Editar perfil
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'user:user_change_password' %}" class="dropdown-item">
                        <i class="fas fa-lock mr-2"></i> Editar password
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">
                        <p>Este sistema te permitira realizar diferentes actividades</p>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fas fa-power-off" aria-hidden="true"></i> Salir
                </a>
            </li>
        </ul>
    </div>
</nav>