{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
    <!-- Lib Bs-Stepper -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/bs-stepper/css/bs-stepper.min.css' %}">
    <script src="{% static 'lib/adminlte-3.0.4/plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
{% endblock %}

{% block content %}
    <form method="post" action="" enctype="multipart/form-data" name="form">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus-circle"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {#            variable action recibida del context data para luego enviarla a a traves del metodo post#}
                {#            necesario para utilizar la tecnologia ajax#}
                <input type="hidden" name="action" value="{{ action }}">
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al crear un cliente</h5>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}


                <div class="form-group">
                    <div class="card-body p-0">
                        <div class="bs-stepper linear">
                            <div class="bs-stepper-header" role="tablist">

                                <div class="step active" data-target="#logins-part">
                                    <button type="button" class="step-trigger" role="tab"
                                            aria-controls="logins-part"
                                            id="logins-part-trigger" aria-selected="true">
                                        <span class="bs-stepper-circle">1</span>
                                        <span class="bs-stepper-label">Datos del Cliente</span>
                                    </button>
                                </div>
                                <div class="line"></div>
                                <div class="step" data-target="#information-part">
                                    <button type="button" class="step-trigger" role="tab"
                                            aria-controls="information-part"
                                            id="information-part-trigger" aria-selected="false"
                                            disabled="disabled">
                                        <span class="bs-stepper-circle">2</span>
                                        <span class="bs-stepper-label">Detalle de Servicios</span>
                                    </button>
                                </div>
                            </div>
                            <div class="bs-stepper-content">
                                <div id="logins-part" class="content active dstepper-block" role="tabpanel"
                                     aria-labelledby="logins-part-trigger">
                                    <div class="form-group">
                                        <div class="row justify-content-evenly">
                                            {% for field in form.visible_fields %}
                                                {% if 'client' in field|lower and field.label != 'Habilitado' and field.label != 'Activado' %}
                                                    {% if field.label != 'Descripción' %}
                                                        <div class="col-4">
                                                            <label for="email"> {{ field.label }}:</label>
                                                            {{ field }}
                                                            <br>
                                                        </div>
                                                    {% else %}
                                                        <div class="col-12">
                                                            <label for="email"> {{ field.label }}:</label>
                                                            {{ field }}
                                                            <br>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-primary" onclick="stepper.next()">Siguiente
                                        </button>
                                    </div>
                                </div>
                                <div id="information-part" class="content" role="tabpanel"
                                     aria-labelledby="information-part-trigger">
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            {% for field in form.visible_fields %}
                                                {% if field.label == 'Habilitado' %}
                                                    {{ field }}
                                                    <label class="custom-control-label"
                                                           for="id_client-enable"
                                                           id="label">{{ field.label }}</label>
                                                    <input type="hidden" name="enableStatus"
                                                           id="enableStatus" value="{{ field.value }}">
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            {% for field in form.visible_fields %}
                                                {% if field.label == 'Activado' %}
                                                    {{ field }}
                                                    <label class="custom-control-label"
                                                           for="id_client-active"
                                                           id="label2">{{ field.label }}</label>
                                                    <input type="hidden" name="activeStatus"
                                                           id="activeStatus" value="{{ field.value }}">
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row justify-content-evenly">
                                            {% for field in form.visible_fields %}
                                                {% if 'services' in field|lower and field.label != 'Habilitado' and field.label != 'Activado' %}
                                                    <div class="col-sm-6">
                                                        <label for="email"> {{ field.label }}:</label>
                                                        {{ field }}
                                                        <br>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-primary" onclick="stepper.previous()">
                                            Anterior
                                        </button>
                                        <button type="submit" class="btn btn-primary">Finalizar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </form>


    <script>
        {#    script de lib stepper#}
        let stepper = new Stepper(document.querySelector('.bs-stepper'))

        {#evento si no se completo el nombre del cliente#}
        const client_name = document.getElementById("id_client-name");
        client_name.addEventListener("invalid", () => {
            stepper.previous()
        });

    </script>
    <script>
        {#script para el switch de cliente habilitado#}
        var status;
        let x = document.getElementById("enableStatus").value;
        console.log(x);
        var label = document.querySelector('#label');

        if (x === 'False') {
            label.textContent = 'Deshabilitado';
        }

        $('#id_client-enable').click(function () {
            if (this.checked) {
                this.value = true;
                status = 'true';
                label.textContent = 'Habilitado';
            } else {
                this.value = false;
                status = 'false';
                label.textContent = 'Deshabilitado';
            }
            console.log(this.value);
        })

        {#script para el switch de cliente habilitado#}
        var status2;
        let x2 = document.getElementById("activeStatus").value;
        console.log(x2);
        var label2 = document.querySelector('#label2');

        if (x2 === 'False') {
            label2.textContent = 'Suspendido';
        }

        $('#id_client-active').click(function () {
            if (this.checked) {
                this.value = true;
                status2 = 'true';
                label2.textContent = 'Activado';
            } else {
                this.value = false;
                status2 = 'false';
                label2.textContent = 'Suspendido';
            }
            console.log(this.value);
        })

    </script>
    <script>
        {#funcion para obtener las zonas#}

        function getZone(tecnic_id, zone_id) {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {
                    'action': 'search_zone',
                    'id': tecnic_id,
                },
                success: function (data) {

                    document.getElementById('id_client-zone').innerHTML = '<option value="" disabled>Seleccione Zona</option>'
                    data.forEach(function (elemento) {
                        if (zone_id === elemento.id.toString()) {
                            document.getElementById('id_client-zone').innerHTML += '<option value="' + elemento.id + '" selected>' + elemento.name + '</option>'
                        } else {
                            document.getElementById('id_client-zone').innerHTML += '<option value="' + elemento.id + '">' + elemento.name + '</option>'
                        }
                    });
                },
                error: function () {
                    console.log("No se ha podido obtener la información de zonas");
                }
            });
        }

        {#inicializo campos del form solo si es un cliente nuevo#}
        action = document.getElementsByName("action")[0].value
        if (action === 'add') {
            document.getElementById('id_client-zone').innerHTML = '<option value="" disabled selected>----------</option>'
            getZone(document.getElementById('id_client-tecnic').value, "")
        }
        if (action === 'edit') {
            selected_zone_id = document.getElementById('id_client-zone').value
            getZone(document.getElementById('id_client-tecnic').value, selected_zone_id)
        }


        {#cambios en el select nombre del tecnico#}
        $('#id_client-tecnic').on('change', function () {
            num = parseInt(document.getElementById('id_client-tecnic').value)
            {#compruebo si el select del tecnico es valido y llamo a la funcion getZone#}
            if (isNaN(num)) {
                document.getElementById('id_client-zone').innerHTML = '<option value="" disabled selected>----------</option>'
            } else {
                getZone(document.getElementById('id_client-tecnic').value, "")
            }
        })

    </script>
    <script>
        {#codigo para la notificacion sweetAlert#}
        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {#coontrolando errores provenientes del forms que no pertenecen al componente#}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                icon: 'error',
                title: 'Ha ocurrido un error',
                text: errors,
                confirmButtonText: 'Reintentar'
            });
        {% endif %}

        {#codigo ajax para acceder al evento del boton submit (guardar registro) del formulario form#}
        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = new FormData(this);
            console.log(parameters);
            parameters.append("enable", status);
            submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de actualizar el siguiente elemento?', parameters, function () {
                location.href = '{{ list_url }}';
            });
        })

    </script>

{% endblock %}



