{% extends 'login/base.html' %}

{% block content %}
        <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'index' %}"><b>Soft</b>Gestión</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Cambio de Contraseña</p>
                <form action="" method="post">
                    {#                variable para redireccionar a la pagina anterior donde el usuario no estaba logueado#}
                    <input type="hidden" name="next" value="{{ next }}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.password }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.confirmPassword }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fas fa-lock"></i> Cambiar contraseña
                            </button>
                        </div>
                    </div>
                    <p class="text-center mt-2" style="font-size: 13px;">
                        Si deseas volver al login da un click <a href="{% url 'login' %}">aquí</a>
                    </p>
                </form>
            </div>
        </div>
        <script type="application/javascript">
            $(function () {
                {#codigo ajax para acceder al evento del boton submit (guardar registro) del formulario form#}
                $('form').on('submit', function (e) {
                    e.preventDefault();
                    var parameters = new FormData(this);
                    submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de cambiar tu contraseña?', parameters, function () {
                        Swal.fire({
                            title: 'Notificación!',
                            text: 'La contraseña ha sido cambiada correctamente',
                            icon: 'success',
                            timer: 5000,
                            onClose: () => {
                                location.href = '{{ login_url }}';
                            }
                        }).then((result) => {

                        });
                    });
                });
            })
        </script>
    </div>
{% endblock %}