{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'lib/Highcharts-10.1.0/code/highcharts.js' %}"></script>
    <script src="{% static 'lib/Highcharts-10.1.0/code/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/Highcharts-10.1.0/code/modules/export-data.js' %}"></script>
    <script src="{% static 'lib/Highcharts-10.1.0/code/modules/accessibility.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}">

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class='buttons' id="buttons">
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="container"></div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3 id="cant_equipos">--</h3>
                        <p>Equipos</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        More info <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="small-box bg-gradient-success">
                    <div class="inner">
                        <h3 id="cant_clientes">--</h3>
                        <p>Clientes</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        More info <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="small-box bg-gradient-secondary">
                    <div class="inner">
                        <h3 id="total_facturacion">$ --</h3>
                        <p>Facturación Mensual</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-hand-holding-usd"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        More info <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <br>
    </div>


    <script src="{% static 'dashboard/js/dashboard.js' %}"></script>
{% endblock %}